CGO_ENABLED=1
KS_DB_DRIVER=sqlite3
KS_DB_CONNECTION=$(PWD)/store/knotset.db
KS_DB_POST=PRAGMA synchronous = normal;PRAGMA journal_mode = WAL;PRAGMA temp_store = memory;PRAGMA mmap_size = 30000000000;PRAGMA page_size = 32768
KS_BASE_IMPORT=./import
